footer {
    background-color: #ffe6f7;
    position: sticky;
    bottom: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.elem-foot {
    display: inline-block;
    margin: 5px; 
}

.elem-foot img:hover {
    transform: scale(1.2, 1.2); }